<div class='container'>
	<h1><%= @current_donutshop.name %></h1>
	<%= erb :_error %>
			<form action="/donutshop/<%=@current_donutshop.id%>/menuitems" method="post">
			<%@current_donutshop.menuitems.each do |item| %>
				<% if logged_in? %>
					<p>$<%= money(item.price) %>   <%= item.item_type %>
  						<input type="text" name="donut[<%=item.item_type%>]">
  				</p>
				<% else %>
					<p>$<%= money(item.price) %>   <%= item.item_type %> </p>
				<% end %>
			<% end %>
				<% if logged_in? %>
  				<input type="submit" value="submit">
				<% end %>
		</form>	
</div>



