<div class="container">
	<!-- Main Title -->
	<h1 id='main-page-title'>DBC Donut Ordering</h1>
	<span class='index-links'>
	<a href="/donutshop/<%= @current_donutshop.id %>/menuitems"> This week's Menu</a>
	<% if logged_in? %>
		<a href="/orders/new">Order now</a>
	<% end %>
	</span>

	<h2>Deadline for next order: <%=standard_datetime(@current_wholesale.deadline)%></h2>

	<!-- Iterating three testimonials -->
	<% @sample_testimonials.each do |review| %>
		<p>"<%= review.body%>" -<%=review.author%>, <%=standard_datetime(review.created_at)%></p>
	<% end %>
</div>
