<div class="container banner-section">
	<!-- Main Title -->
	<h1 id='main-page-title'>DBC Donut Ordering</h1>
	<span class='index-links'>
	<a href="/donutshop/<%= @current_donutshop.id %>/menuitems"> This week's Menu</a>
	<% if logged_in? %>
		<a id="order-button" href="/orders/new">Order now</a>
	<% end %>
	</span>
	<h2>Deadline for next order: <%=standard_datetime(@current_wholesale.deadline)%></h2>
</div>

<div class='container order-section'>
	<h1><%= @current_donutshop.name %></h1>
			<form id='order-form' action="/orders" method="post">
				<%@current_donutshop.menuitems.each do |item| %>
				<div class="order-row">
					<label>$<%=money(item.price)%></label>   <span><%= item.item_type %></span>
  						<select class='drop-down' form='order-form' name="donut[<%=item.item_type%>]">
  							<option value="0"></option>  						
  							<option value="1">1</option>
  							<option value="2">2</option>
  							<option value="3">3</option>
  							<option value="4">4</option>
  							<option value="5">5</option>
  						</select>
  			</div>
			<% end %>
  			<div>
  			<br>
  			<label class='subtotal'>subtotal: $0.00</label>
  			<label class='tax'>tax: $0.00</label>
  			<label class='delivery'>delivery: $0.00</label><br><br>
  			<label class='total'>total: $0.00</label>
  			</div>
  			<br>
  			<input id="submit-unconfirmed" type="submit" value="submit">
		</form>	
</div>

<div class='container confirmation-section'>
<h2>Confirm Your Order</h2>
	<h4 class='order-maker'> </h4>
	<ul style="list-style-type:none">
  <li class="delivery-cost">delivery: </li>
  <li class="subtotal">subtotal: </li>
  <li class="tax">tax: </li>
</ul>	
  <h4 class="total">total: </h4>
  <form action="/orders" method="post">
    	<input type="hidden" name="_method" value="put">
    	<input type="submit" value="confirm">
  </form>

</div>

<div class="container testimonial-section">
							<!-- Iterating three testimonials -->
<% @sample_testimonials.each do |review| %>
	<p>"<%= review.body%>" -<%=review.author%>, <%=standard_datetime(review.created_at)%></p>
<% end %>
</div>
